<html>
	<head>
		<title>Rock, Paper and Scissors</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	
	<body>
			
		<div id="wrapper">
				<div id="header">

				</div>
				<div id="content">
							<%= yield %>

				</div>
		</div>


	</body>




</html>