<h1>Welcome - Choose your weapon <%= @player%></h1>

<form id =form_buttons" action="/play" method="POST">
	<button name="pick" value="Paper" class="r_p_s"><img src ="/images/paper.png" alt="Paper"></button>
	<button name="pick" value="Rock" class="r_p_s"><img src ="/images/rock.png" alt="Rock"></button>				
	<button name="pick" value="Scissors" class="r_p_s"><img src ="/images/scissors.png" alt="Scissors"></button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>