.r_p_s {
	float: center;
	margin: auto;
	/* transform: rotate(90deg); */
	width: 270px;
	height: 270px;
	position: absolute;
  	/*top: 50%;
 	left: 50%; */
 	transform: translate(-50%, -50%); 
}


img {
	max-width: 250px;
	max-height: 250px; 
}

input {
	text-align: center;
	font-size: 50px;
	border: 2px solid;
  	border-radius: 25px;
  	box-shadow: 0

}